h1{
    font-family: 'Times New Roman', Times, serif; 
    color:  #202122;  
    margin: 0%;
    border-bottom: 2px solid;
    border-color: #a2a9b1;
}
h2{
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    margin-bottom: 0%;
}
p{
    font-family: sans-serif;
    text-align: justify;
    margin-top: 2%;
}

body {
    background-color: #f8f9fa;
    color: #202122;
    display: block;
    margin: 4%;
    margin-top: 1%;
}

html{
    font-size: 100%;
}
.column{
width: 63%;

float: left;
margin-right: 0%;
}
.columnright{
    width: 25%;

    float: right;
    margin-left: 1%;
    margin-right: 1%;
}
.columnright img{
    border-color: #a2a9b1;
    border-style: double;
    margin-top: 2lh;
    float: left;
}
.columnright p{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: 0%;
}
.sidebar p{
    margin-bottom: 1px;
}
.sidebar a{


}
.spin {
      animation-name: spin;
  animation-duration: 16000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
  /* transform: rotate(3deg); */
   /* transform: rotate(0.3rad);/ */
   /* transform: rotate(3grad); */ 
   /* transform: rotate(.03turn);  */
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(-360deg);
    }
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

img{
    max-width: 100%;
    height: auto;
}
a{
    color: var(--color-progressive,#36c);
    text-decoration: none;

}
a:hover{
    text-decoration: underline;
}
@media screen and (min-width: 700px) {
.sidebar{
    width: 80px;
    float: left;
    display: block;
  margin-right: 1%;
    padding-top: 2lh;
    
}
}

@media screen and (max-width: 700px) {
    .column{
        width: 68%;
    }
    .columnright {
        width: 28%;
    }
    .sidebar {

  
    }
}
header img {
    max-width: 25%;
}