h1{
    font-family: 'Times New Roman', Times, serif; 
    color:  #202122;  
    border-bottom: #999da1; 
    border-bottom-style: solid;
    margin-bottom: 0%;
    padding-bottom: 0%;
    margin-top: 0%;
}
h2{
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    margin-bottom: 0%;
}
p{
    font-family: sans-serif;
    text-align: justify;
    margin-top: 2%;
}
body {
    background-color: var(--background-color-neutral-subtle, #f8f9fa);
    color: var(--color-base, #202122);
    display: block;
}
html{
    font-size: 100%;
}
.column{
width: 58%;
display: inline-block;
float: left;
}
.columnright{
    width: 28%;
    display: inline-block;
    float: right;
    margin-left: 2%;
    margin-right: 2%;
}
.columnright img{
    border: #202122;
    border-style: double;
}
.columnright p{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: 0%;
}
nav{
    width: 10%;
    float: left;
    display: block;
    
}
.spin {
      animation-name: spin;
  animation-duration: 16000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
  /* transform: rotate(3deg); */
   /* transform: rotate(0.3rad);/ */
   /* transform: rotate(3grad); */ 
   /* transform: rotate(.03turn);  */
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(-360deg);
    }
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

img{
    max-width: 100%;
    height: auto;
}
a{
    color: var(--color-progressive,#36c);
    text-decoration: none;

}
a:hover{
    text-decoration: underline;
}