
html,body { 
position: absolute;
bottom: 0px;
top: 0px;
    height:100%;
    padding-bottom:33px;
margin: 4%;
margin-top: 0px;

 }

body{
position: relative;

    background: linear-gradient(45deg, #ff8787 0%, #ffedc7 40%, #d2f0e8 90%);

    background-repeat: no-repeat;
background-attachment: fixed;

}
header .logo{
margin-left: 2vw;
    padding-top: 15px;
    width: 30%;
    display: inline-block;

}

header h1{
    color:#a982ff;
    font-size: 1.5vw;
    padding: 0px;
margin-right: 2vw;
position: sticky;
margin-top: -5px;
margin-bottom: -10px;
}
header{
    background-color: rgb(255, 255, 255, .4);
    margin-left: 1vw;
    margin-right: 1vw;
}
hr {
    border: none;
    border-top: 3px dashed #ff9faf;
    margin-left: 1vw;
    margin-right: 1vw;
  }
a{
    color:  rgb(245, 92, 212);
}
a img:hover{
  opacity: 60%;
  
}

p{
font-family: 'Times New Roman', Times, serif;
margin-top: 1px;
margin-bottom: 0%;
}
h3{
    font-family: Arial light, Helvetica, sans-serif;
    font-size: 12px;
    margin-top: -1px;
}
h1{
    font-size: large;
    font-family: Arial light, sans-serif;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
h2{
    font-size: medium;
    font-family: Arial black, Helvetica, sans-serif;
    text-align: left;
    margin-bottom: 2px;
}
.center{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.center iframe{
    padding:2%
  }
.left{
  float: left;
  width: 38%;
}
.left iframe{
  margin-left: 3%;
}
.right{
  float: right;
  width: 60%;
  margin-right: 2%;
}

     /* Create three equal columns that float next to each other */
.column-left {
    float: left;
    width: 30%;
border: transparent;
padding-left: 1%;
padding-right: 1%;
margin-left: auto;
margin-right: auto;
  }
  .column-right{
    float: right;
    width: 80%;
border: transparent;
padding-left: 1%;
padding-right: 1%;
margin-left: auto;
margin-right: auto;
  }
iframe{
box-shadow: 10px 15px rgba(255, 50, 194, 0.24);
}
.blog iframe{
    box-shadow: none;
}
.left iframe{
    min-height: 600px;
border-radius: 0%;
margin-bottom: 5%;
}
#myiframe {
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
position: relative;
  }
#websites{
width: 32.3%;
min-height: 500px;
  }
#articles {
    width: 63%;
    min-height: 500px;
    margin-bottom: 4%;
 }
section{
    padding-left: 1.5%;
    padding-right: 1%;
} 
  /* Clear floats after the columns */
  .row:after {
    content: "";
    clear: both;
  }
  .head h1{
    font-size: 1.7vw;
  }

  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (550 wide or less) */
  @media screen and (max-width: 900px) {
    .left{
      width: 100%;
  
    }
    .right{
      width: 100%;
    }
  }

      @media screen and (max-width: 900px) {

    section{
        padding-left: 1.5%;
        padding-right: 3%;

    } 
  } 
  @media screen and (max-width: 900px) {
    .column {
      width: 95%; 
      min-height: 300px;     
      margin-left: auto;
      margin-right: auto;
    }
  } 
  @media screen and (max-width: 900px) {
    .column iframe{
      min-height: 300px; 
      border-radius: 0%;
    }
  } 
  @media screen and (max-width: 900px) {
    header .logo {
      width: 80%;      
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding-top: 1vw;
    }
  }
  @media screen and (max-width: 900px) {
        header h1 {
          font-size: 3vw;      
          display: block;
          margin-left: auto;
          margin-right: auto;
          padding-top: 1vw;
          text-align: center;
          margin-top: auto;
          position: static;
        }
  } 
  @media screen and (max-width: 900px) {
    html,body{
        padding-bottom: 600px;
        min-height: 1900px;
    }
} 
@media screen and (max-width: 900px) {
    .blog p{
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media screen and (max-width: 900px) {
.column1 p{    background-color: rgb(255, 255, 255, .5);
    padding: 3%;
    border-radius: 0px;
    overflow-wrap: break-word;
    margin-top: 1%;
    margin-right: 1.3px;
    margin: -10px;
    }
}
@media screen and (max-width: 800px) {
    #articles {
        width:100%;
    }
}
@media screen and (max-width: 800px) {
    #websites {
        width: 100%;
        min-height: 300px;
     }
}
@media screen and (max-width: 400px) {
    .column1 p{
        border-bottom: 1px solid darkblue;
        }
    }
 .blog{
    background-color: rgb(255, 255, 255, .5);
    padding: 6%;
    border-radius: 0px;
    overflow-wrap: break-word;
    margin-top: 1%;
    margin-right: 1.3px;

 }
  .blogbox{
    background-color: rgba(255, 255, 255, 0.479);
    padding: 3%;
    padding-top: 0%;
    overflow-wrap: break-word;
    margin-right: 1.3px;
    outline-style: dashed;
    outline-width: 2px;
    outline-color: #ff9faf;
 }
 .index .blog{
    margin-bottom: 5%;
 }
 .index .square{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
 }
 .index .square:hover{
opacity:100%;
 }
 .square {
    position: relative;
  }
  
  .square::after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
  
  .square img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
  }
.square:hover{
    opacity: 0.5;
}
nav{
background-color: rgba(43, 0, 255, 0.1);
padding: 1px;
}
nav a:hover{
color: white;
text-decoration: underline;
}
nav a{
    color: black;
    text-decoration: none;
}
.bordered {
  width: 12rem;
  margin-bottom: 1rem;
  padding: 1rem;
  border: 40px solid;
  border-image: url("images/pix3.jpg") 27;
  border-image-repeat: repeat; /* Can be changed in the live sample */
}
footer {
    position: absolute;
    right: -1;
    bottom: 0;
    left: -1;
    text-align: center;
    padding: 1%;
  }
h1 button{
    font-size: large;
    font-family: Arial light, sans-serif;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    background-color: transparent;
    border-color: transparent;
  }
h1 button:hover{

color: white ;

text-decoration: underline;
  }
  
  .rectangle {
    position: relative;
  }
  
  .rectangle::after {
    content: "";
    display: block;
    padding-bottom: 30%;
  }
  
  .rectangle img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
  }
.rectangle:hover{
    opacity: 0.5;

}
.blogbody p{
    padding-top: 6px;
    padding-bottom: 10px;
}

.column1 {
    float: left;
    width: 45%;
    padding: 5px;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .rectangle1 {
    position: relative;
    margin-top: 15%;
  }
  
  .rectangle1::after {
    content: "";
    display: block;
    padding-bottom: 30%;
  }
  
  .rectangle1 img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
  }
.rectangle1:hover{
    opacity: 0.5;
}
audio{
  width: 100%;
  margin-left: 2%;
  margin-right: 3%;
}
@font-face { font-family: antique blackletter; src: url('fonts/AntiqueBlackletterMinimal-Regular.otf'); 
  font-family: modern roman; src: url('fonts/ModernRoman77-Regular.otf');} 



h4{
  font-family: Custom, serif;
  font-size: 4vw;
  font-weight: normal;
  margin-bottom: 2%;
  margin-top: 2%;
}

h5{
  font-family: serif;
  font-size:x-large;
  text-align: center;
  margin: 1%;
  margin-bottom: -4px;
}
button{
  border-width: 5px;
border-color: #a982ff;
  background-color: #e594e8;
  font-family: Custom;
  font-size: xx-large;
  transition: background-color 0.5s;
  transition: border-color 0.5s;
}
button:hover{

  background-color: #d5d2ff;
  transition: background-color 0.5s;
  transition: border-color 0.5s;
  border-color: azure;
}
button a{

  text-decoration: none;
}
embed {
    box-shadow: 10px 15px rgba(255, 0, 153, 0.3);

}
i{
  font-weight: 100;
}
small{
  font-weight: 600;

}
i small{
  font-weight: 100;
  

}
.roundnround img{
  opacity: 30%;
position:fixed;
right: -40vw;
bottom: -40vw;
width: 70vw;
animation-name: spin;
  animation-duration: 55000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
  /* transform: rotate(3deg); */
   /* transform: rotate(0.3rad);/ */
   /* transform: rotate(3grad); */ 
   /* transform: rotate(.03turn);  */
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(-360deg);
    }
}